In [15]:
import yfinance as yf
import numpy as np
import pandas as pd

In [6]:
x = yf.download('AAPL GOOG', period='1d', interval='1m', progress=False, group_by='ticker')

In [7]:
x.head()

                                 AAPL                                      \
                                 Open        High         Low       Close
Datetime
2021-05-07 09:30:00-04:00  130.089996  130.089996  130.089996  130.089996
2021-05-07 09:31:00-04:00  130.089996  130.289993  129.899994  129.899994
2021-05-07 09:32:00-04:00  129.899994  130.160004  129.820007  130.009995
2021-05-07 09:33:00-04:00  130.011993  130.179993  129.989700  130.053497
2021-05-07 09:34:00-04:00  130.039993  130.080002  129.750000  130.009903

                                                       GOOG               \
                            Adj Close   Volume         Open         High
Datetime
2021-05-07 09:30:00-04:00  130.089996  3751200  2400.000000  2407.000000
2021-05-07 09:31:00-04:00  129.899994   555927  2394.000000  2395.949951
2021-05-07 09:32:00-04:00  130.009995   433729  2397.455078  2398.860107
2021-05-07 09:33:00-04:00  130.053497   354315  2397.584961  2400.784912
2021-05-07 09:34:00-04:00  130.009903   415355  2398.139893  2399.760010


                                   Low        Close    Adj Close   Volume
Datetime
2021-05-07 09:30:00-04:00  2393.330078  2394.090088  2394.090088  62695.0
2021-05-07 09:31:00-04:00  2393.625000  2395.030029  2395.030029   4262.0
2021-05-07 09:32:00-04:00  2396.820068  2398.060059  2398.060059   6031.0
2021-05-07 09:33:00-04:00  2396.629883  2398.000000  2398.000000   6841.0
2021-05-07 09:34:00-04:00  2396.709961  2396.709961  2396.709961   8356.0

In [10]:
g = x['GOOG'][['Close', 'Volume']]

In [23]:
g.iloc[25:50]

                                 Close   Volume
Datetime
2021-05-07 09:55:00-04:00  2393.002441   8460.0
2021-05-07 09:56:00-04:00  2395.419922   3236.0
2021-05-07 09:57:00-04:00  2395.659912    688.0
2021-05-07 09:58:00-04:00  2393.770020   4596.0
2021-05-07 09:59:00-04:00  2394.090088  11410.0
2021-05-07 10:00:00-04:00  2395.350098   2751.0
2021-05-07 10:01:00-04:00  2394.659912   6351.0
2021-05-07 10:02:00-04:00  2397.810059   2264.0
2021-05-07 10:03:00-04:00  2402.074951   2426.0
2021-05-07 10:04:00-04:00  2402.350098   1779.0
2021-05-07 10:05:00-04:00  2403.500000   3454.0
2021-05-07 10:06:00-04:00  2403.449951   2164.0
2021-05-07 10:07:00-04:00  2401.405029   4913.0
2021-05-07 10:08:00-04:00  2400.179932   3485.0
2021-05-07 10:09:00-04:00  2399.020020   7097.0
2021-05-07 10:10:00-04:00  2398.939941  10698.0
2021-05-07 10:11:00-04:00  2399.129883   3316.0
2021-05-07 10:12:00-04:00  2398.889893   2604.0
2021-05-07 10:13:00-04:00  2400.919922   4458.0
2021-05-07 10:14:00-04:00  2401.280029   2945.0
2021-05-07 10:15:00-04:00  2403.889893   2932.0
2021-05-07 10:16:00-04:00  2404.860107   4031.0
2021-05-07 10:17:00-04:00  2405.899902   2317.0
2021-05-07 10:18:00-04:00  2407.100098   2677.0
2021-05-07 10:19:00-04:00  2409.159912   2549.0

In [13]:
def generate_sequences(data, target_min=5, seq_len=60, feats=['Close', 'Volume']):
    """Given a subset of data for a particular ticker and date, 
    will return sequences of the appropriate length
    
    Args
        data: subset dataframe
        target_min (optional): target minutes ahead of end of sequence
        seq_len (optional): sequence length to consider
        feats (optional): list of features to keep
    Returns
        seqs: numpy array of sequences (n_seqs, seq_len, len(feats))
    """
    x = np.expand_dims(np.zeros((60,2))*np.nan, axis=0)
    for i, v in enumerate(range(target_min, len(data)-seq_len)):
        if i == 0:
            x = np.expand_dims(data[feats].values[i:i+seq_len, :], axis=0)
        else:
            z = np.expand_dims(data[feats].values[i:i+seq_len, :], axis=0)
            x = np.concatenate((x, z), axis=0)
    return x

In [30]:
generate_sequences(g, target_min=5, seq_len=60, feats=['Close', 'Volume'])[26]

array([[ 2395.41992188,  3236.        ],
       [ 2395.65991211,   688.        ],
       [ 2393.77001953,  4596.        ],
       [ 2394.09008789, 11410.        ],
       [ 2395.35009766,  2751.        ],
       [ 2394.65991211,  6351.        ],
       [ 2397.81005859,  2264.        ],
       [ 2402.07495117,  2426.        ],
       [ 2402.35009766,  1779.        ],
       [ 2403.5       ,  3454.        ],
       [ 2403.44995117,  2164.        ],
       [ 2401.4050293 ,  4913.        ],
       [ 2400.17993164,  3485.        ],
       [ 2399.02001953,  7097.        ],
       [ 2398.93994141, 10698.        ],
       [ 2399.12988281,  3316.        ],
       [ 2398.88989258,  2604.        ],
       [ 2400.91992188,  4458.        ],
       [ 2401.2800293 ,  2945.        ],
       [ 2403.88989258,  2932.        ],
       [ 2404.86010742,  4031.        ],
       [ 2405.89990234,  2317.        ],
       [ 2407.10009766,  2677.        ],
       [ 2409.15991211,  2549.        ],
       [ 2411.18994141,  8380.        ],
       [ 2410.35009766,  4606.        ],
       [ 2409.2199707 ,  2391.        ],
       [ 2408.        ,  3392.        ],
       [ 2406.5300293 ,  5365.        ],
       [ 2405.11010742,   658.        ],
       [ 2407.11547852,  2823.        ],
       [ 2406.32006836,  2619.        ],
       [ 2405.7800293 ,  2592.        ],
       [ 2407.62011719,  1579.        ],
       [ 2408.57006836,  2506.        ],
       [ 2409.92529297,  1942.        ],
       [ 2410.52001953,  1471.        ],
       [ 2410.29003906,  3311.        ],
       [ 2410.48999023,   463.        ],
       [ 2411.7800293 ,  2334.        ],
       [ 2411.82006836,  3026.        ],
       [ 2409.83007812,  2908.        ],
       [ 2405.34960938,  6196.        ],
       [ 2407.45996094,  2082.        ],
       [ 2407.30004883,  1545.        ],
       [ 2407.35009766,   536.        ],
       [ 2406.39990234,   262.        ],
       [ 2403.54003906,  4672.        ],
       [ 2403.91992188,  2584.        ],
       [ 2404.95996094,  1131.        ],
       [ 2404.64990234,  1853.        ],
       [ 2403.30004883,  2999.        ],
       [ 2402.94604492,  2669.        ],
       [ 2402.67993164,  1165.        ],
       [ 2403.01489258,  1472.        ],
       [ 2402.12988281,  1535.        ],
       [ 2403.41992188,   160.        ],
       [ 2402.26000977,  2150.        ],
       [ 2401.9699707 ,  1169.        ],
       [ 2402.67993164,   976.        ]])